@font-face{
  font-family: "finger";
  src:url("../../../assets/fuente.ttf");
}

.navbar {
  font-family: "finger" !important;
  overflow: auto;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index:999999;
}
